h1 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  text-align: center;
  position: relative;
  color: #ffffff;
  font-size: 45px;
}

.containerClass {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.backgroundimg {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.backgroundimg::before {
  content: "";
  background-image: url('/mysingingmonsters.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

body {
  margin: 0px;
}

:root {
  --tp-base-background-color: hsla(0, 0%, 10%, 0.80);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(0, 0%, 80%, 1.00);
  --tp-button-background-color-active: hsla(0, 0%, 100%, 1.00);
  --tp-button-background-color-focus: hsla(0, 0%, 95%, 1.00);
  --tp-button-background-color-hover: hsla(0, 0%, 85%, 1.00);
  --tp-button-foreground-color: hsla(0, 0%, 0%, 0.80);
  --tp-container-background-color: hsla(0, 0%, 0%, 0.30);
  --tp-container-background-color-active: hsla(0, 0%, 0%, 0.60);
  --tp-container-background-color-focus: hsla(0, 0%, 0%, 0.50);
  --tp-container-background-color-hover: hsla(0, 0%, 0%, 0.40);
  --tp-container-foreground-color: hsla(0, 0%, 100%, 0.50);
  --tp-groove-foreground-color: hsla(0, 0%, 0%, 0.20);
  --tp-input-background-color: hsla(0, 0%, 0%, 0.30);
  --tp-input-background-color-active: hsla(0, 0%, 0%, 0.60);
  --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.50);
  --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.40);
  --tp-input-foreground-color: hsla(0, 0%, 100%, 0.50);
  --tp-label-foreground-color: hsla(0, 0%, 100%, 0.50);
  --tp-monitor-background-color: hsla(0, 0%, 0%, 0.30);
  --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.30);
}