<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    
    <div class="container-fluid">
      <div class="d-flex mb-3 justify-content-center align-items-center">
        <div class="p-2">
          <img src="../images/album.jpeg" width="90" height="90">
        </div>
        <div class="p-2 align-self-center">
          <h4>Heavenly Father - Bon Iver</h4>
        </div>
      </div>
      <div class="d-flex flex-column mb-3">
        <div class="p-2">
          <audio id="audio" src="../data/Heavenly-Father.mp3" controls style="width: 100%"></audio>
        </div>
      </div>
<!--      <button id="start" class="btn btn-success">Start Visualization</button>-->
    </div>

    <div class="container-fluid">
      <div class="d-flex mb-3 justify-content-center align-items-center">
        <div class="p-2 flex-fill">
          <canvas id="visualizer" height="520px"></canvas>
        </div>
      </div>
    </div>
    
  
  </body>
  <script src="/javascripts/script.js"></script>
</html>
