html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

canvas {
  width:  100%;
  height: 100%;
  margin: 0;
  position:absolute;
  z-index: -1;
}

#circle {
  width:  100%;
  height: 100%;
  margin: 0;
  position:absolute;
  z-index: 2;
}

#clickArea {
  width:  100%;
  height: 100%;
  margin: 0;
  position:fixed;
  z-index: 2;
}

#options{
  z-index: 1;
}