body {
    background-color: #1a1a1a;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0px;
}

canvas {
    border-style: groove;
    border-width: 5px;
    border-color: black;
    background-color: white;
    border-radius: 8px;
}

#main-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

}

#settings {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: white;
}

#settings>input {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    width: 100%;
}

#button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}