html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    text-align: center;
    margin: 5px;
}

footer {
    margin-top: 15px;
}

label {
    margin-right: 0.5em;
}

h2 {
    text-align: center;
}

#settings-pane {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

main {
    text-align: center;
}

#reset-button {
    margin: 5px;
}

canvas {
    border: 1px solid black; /* Causes weird aliasing issues on the edge of the canvas sometimes but I can't fix it so oh well */
    box-sizing: border-box;
}