body {
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 25%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.powerButton a:hover{
    fill: black;
}